In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('iso15924-utf8-20200424.txt', encoding='utf8', delimiter=';')
df

,Code,N°,English Name,Nom français,PVA,Unicode Version,Date
0,Adlm,166,Adlam,adlam,Adlam,9.0,2016-12-05
1,Afak,439,Afaka,afaka,NaN,NaN,2010-12-21
2,Aghb,239,Caucasian Albanian,aghbanien,Caucasian_Albanian,7.0,2014-11-15
3,Ahom,338,"Ahom, Tai Ahom",âhom,Ahom,8.0,2015-07-07
4,Arab,160,Arabic,arabe,Arabic,1.1,2004-05-01
...,...,...,...,...,...,...,...
198,Zsye,993,Symbols (Emoji variant),symboles (variante émoji),NaN,6.0,2015-12-16
199,Zsym,996,Symbols,symboles,NaN,1.1,2007-11-26
200,Zxxx,997,Code for unwritten documents,codet pour les documents non écrits,NaN,NaN,2011-06-21
201,Zyyy,998,Code for undetermined script,codet pour écriture indéterminée,Common,NaN,2004-05-29
202,Zzzz,999,Code for uncoded script,codet pour écriture non codée,Unknown,NaN,2006-10-10

In [8]:
df.to_csv('iso15924.csv', index=False)

In [5]:
df.columns

Index(['Code', 'N°', 'English Name', 'Nom français', 'PVA', 'Unicode Version',
       'Date'],
      dtype='object')

In [6]:
df['Sub-Codes'] = ''

In [7]:
df = df[['Code', 'Sub-Codes', 'N°', 'English Name', 'Nom français', 'PVA', 'Unicode Version', 'Date']]